@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --primary: #030670;
    --bs-primary: #030670;
    --bs-primary-rgb: 3, 6, 112;
    --secondary: #ec0704;
    --bs-secondary: #ec0704;
    --bs-secondary-rgb: 236, 7, 4;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    font-weight: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.navbar-toggler {
    padding: 0px 5px;
    border: none;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

.wrapper {
    max-width: 600px;
    margin: auto;
}

@media screen and (max-width: 600px) {
    .wrapper {
        max-width: 100%;
    }
}

.container,
.container-sm {
    max-width: 540px;
    margin: auto;
}

h1,
h2 {
    font-size: 1rem;
}

p {
    font-size: 14px;
    font-weight: 400;
}

/* ==========================================
                Header Style
============================================= */
.navbar-brand img {
    height: 40px;
}

.navbar {
    --bs-navbar-active-color: rgba(3, 6, 112, 1);
}

.navbar-nav {
    padding: 5px 0;
}

.nav-link {
    padding: 3px 0;
    text-align: center;
    transition: all 0.3s;
}

/* ==========================================
                Hero Style
============================================= */
.hero-area {
    height: calc(100vh - 66px);
    background: #f8f8ff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-area img {
    max-width: 200px;
    margin-bottom: 24px;
}

.hero-area h1 {
    color: var(--primary);
    text-align: center;
    font-weight: 600;
    line-height: 1.35;
    text-transform: uppercase;
}

.hero-area p {
    color: #444444;
    text-align: center;
}
